<ng-container *ngIf="dataSource$ | async as dataSource; else skeletonTemplate">
  <ng-container *ngIf="dataSource.length; else emptyStateTemplate">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id + 1}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="birthdate">
        <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element?.birthdate; else noneBirthDateTemplate">
            {{element.birthdate | date:"MM/dd/yy"}}
          </ng-container>
          <ng-template #noneBirthDateTemplate>
            --
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="addressCount">
        <mat-header-cell *matHeaderCellDef> Address count </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.addressCount}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="[ALL_USERS_LINK, element.id]">Edit</button>
            <button mat-menu-item (click)="deleteUser(element.id)">Delete</button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <a [routerLink]="[NEW_USER_LINK]">new user</a>
  </ng-container>
  <ng-template #emptyStateTemplate>
    <app-empty-state
      [action]="emptyState.action"
      [title]="emptyState.title"
      [description]="emptyState.description">
    </app-empty-state>
  </ng-template>

</ng-container>
<ng-template #skeletonTemplate>
</ng-template>

